.fixed-header-table-wrapper {
  width: 400px;
  height: 190px;
  background-color: lightgreen;
  overflow: auto;
}

.fixed-header-table {
  width: 500px;
  border: 0px;
  border-collapse: collapse;
}

.fixed-header-table th {
  position: sticky;
  top: 0px;
  background-color: gray !important;
}
